<div class="container-fluid">
    <button ng-click="solve()">Solve</button>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-1">
            <div class="input-group">1</div>
        </div>
        <div class="col-md-1">
            <div class="input-group">2</div>
        </div>
        <div class="col-md-1">
            <div class="input-group">3</div>
        </div>
        <div class="col-md-1">
            <div class="input-group">4</div>
        </div>
        <div class="col-md-1">
            <div class="input-group">5</div>
        </div>
        <div class="col-md-1">
            <div class="input-group" >6</div>
        </div>
        <div class="col-md-1">
            <div class="input-group">7</div>
        </div>
        <div class="col-md-1">
            <div class="input-group">8</div>
        </div>
        <div class="col-md-1">
            <div class="input-group">9</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">A</div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.a3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.a6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.a9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">B</div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.b3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.b6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.b9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-1">C</div>
        <div class="col-md-1"  style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1"  style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1"  style="border-right-style: solid;border-right-width: thin;border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1"  style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1"  style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1"  style="border-bottom-style: solid;border-bottom-width: thin;border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.c6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.c9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">D</div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.d3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.d6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.d9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">E</div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin" >
            <div class="input-group">
                <input ng-model="model.e3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.e6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.e9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">F</div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.f1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.f2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin;border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.f3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.f4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.f5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1"  style="border-bottom-style: solid;border-bottom-width: thin;border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.f6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.f7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.f8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-bottom-style: solid;border-bottom-width: thin">
            <div class="input-group">
                <input ng-model="model.f9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">G</div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.g3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.g6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.g9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">H</div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.h3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.h6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.h9" type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">I</div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i1" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i2" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.i3" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i4" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i5" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1" style="border-right-style: solid;border-right-width: thin">
            <div class="input-group">
                <input ng-model="model.i6" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i7" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i8" type="text" class="form-control">
            </div>
        </div>
        <div class="col-md-1">
            <div class="input-group">
                <input ng-model="model.i9" type="text" class="form-control">
            </div>
        </div>
    </div>
</div>